{% if cart.products|length > 0 %}
    <h3>{{ "Přehled objednávky - produkty"|t }}</h3>

    <div class="full-order cart-overview__items">
        {% for itemId, item in cart.products %}
            {{ include("@app/components/small-product.twig", {
                orderedProduct: item
            }) }}
        {% endfor %}
    </div>
{% endif %}
