<div class='builder thank-you'>
    <div class='thank-you__title'>
        <h1>A je to v košíku!</h1>
        <p>Vaše karta je připravená v košíku. Stačí jen dokončit objednávku</p>
    </div>

    {% if recommended.products|length %}
        <div class='thank-you__more-stuff'>
            <h2 class='mb-4'>Doplňky za zvýhoďněnou cenu:</h2>
            <div class='d-flex justify-content-center align-items-start'>
                {% for product in recommended.products %}
                    {{ include("@modules:Adcards/components/product.twig", product) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <script>
      window.document.querySelector('.thank-you__title').scrollIntoView({
        behavior: 'smooth',
        block: 'center',
        inline: 'center',
      })
      window.applyLazyLoad?.()
    </script>
</div>
{{ include("@modules:Adcards/partials/mini-cart.twig", { oob: true }) }}
