<div class='builder thank-you'>
    <div class='thank-you__title'>
        <h1>A je to v košíku!</h1>
        <p>Vaše karta je připravená v košíku. Stačí jen dokončit objednávku</p>
    </div>

    <div class='thank-you__more-stuff'>
        <h2>Mohlo by se hodit:</h2>
        <div>
            dsfsd
        </div>
    </div>
    <script>
      window.document.querySelector('.builder.thank-you').scrollIntoView({
        behavior: 'smooth',
        block: 'center',
        inline: 'center',
      })
    </script>
</div>
