.builder {
    padding-top: 80px;

    @media screen and (min-width: 768px) {
        & {
            padding-top: 130px;
        }
    }
}

.builder-bonus-list {
    & > *:not(:first-of-type) {
        margin-top: 1.4rem;
    }
}

.builder-bonus-disclosure {
    .control {
        cursor: pointer;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
    }

    .content {
        width: 100%;
        padding: 10px 15px;
        font-size: 1.3rem;
    }

    .small-checkbox {
        background: var(---colors-brand-signature);
        width: 35px;
        height: 35px;
        position: relative;
        display: inline-block;
        margin-right: 1rem;

        &::after {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" stroke-width="3" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>');
            position: absolute;
            top: 2px;
            left: 2px;
            color: white;
            width: 30px;
            height: 30px;
            opacity: 0;
            transform: translateY(10px);
            transition-duration: 200ms;
        }
    }

    & input[type="checkbox"]:checked ~ .small-checkbox {
        &::after {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    & textarea {
        border: 1px solid #e4e4e4;
        text-transform: uppercase;
    }
}

.dropdown-item-country {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: #1c1c1c;

    & img {
        height: 23px;
    }
}

#builder-form {
    & h4 {
        margin: 2rem 0 1rem;
        font-size: 2rem;
    }
}

.flex {
    display: flex;
}

.tab {
    margin-top: 0;
}

.card-preview-around {
    position: relative;
    padding-bottom: 40px;

    .stats.container p {
        line-height: 2.3rem;
    }

    @media screen and (min-width: 768px) {
        & {
            padding-bottom: 130px;
        }
    }
}

.total-price {

}

.builder .label-image img {
    height: auto;
}

.builder .card .tab[data-is-active='true'] {
    background-color: rgb(247, 11, 53);
    cursor: default;
    color: #fff !important
}

.builder__steps-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    & button {
        width: 56px;
        height: 56px;
        border-radius: 99px;
        padding: unset;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        &:disabled {
            opacity: .6;
            cursor: not-allowed;
        }

        &:not(.current) {
            transform: scale(0.7);
        }

        &.current {
            filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
        }
    }
}

.worko-tabs .flex-tabs .panel {
    display: block !important;
}


.builder__steps__step {
    margin-bottom: 1rem;
    overflow: hidden;
    padding-left: 0;

    & h3 {
        font-size: 3rem;
        margin-bottom: 2.5rem;
        margin-top: 3.5rem;
        padding: 0 15px;
    }

    @media screen and (min-width: 640px) {
        & {
            margin-bottom: 4rem;
        }
    }

    @media screen and (min-width: 1500px) {
        & {
            padding-left: 20px;
        }
    }
}

.slick-list {
    width: 100%;
}

.builder-slider {
    margin: 0 1rem;

    .slide {
        & h4 {
            font-size: 1.5rem !important;
            margin-top: 1.5rem;
        }

        & p {
            font-size: 1.2rem;
            margin-top: 0.5rem;
        }

        & img {
            height: auto;
            max-width: 100%;
        }

        &:hover,
        &.selected {
            cursor: pointer;

            & .image-wrap {
                -webkit-filter: drop-shadow(10px 5px 5px #222);
                filter: drop-shadow(10px 5px 5px rgb(247 11 53 / 36%));
            }
        }

        .image-wrap {
            padding: 0 5px;
            -webkit-filter: drop-shadow(5px 5px 5px #22222250);
            filter: drop-shadow(5px 5px 5px #22222250);
            transition: filter;
            transition-duration: 0.5s;
        }

        @media screen and (min-width: 640px) {
            & h4 {
                font-size: 2.5rem !important;
            }
        }

    }

}

.builder.thank-you {
    text-align: center;
    margin: 2rem 0;
    min-height: 40vh;

    .thank-you__title p {
        font-size: 1.5rem;
    }
}

.thank-you__more-stuff {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15px;
    width: 100%;
    margin: 3.5rem auto 0;
    flex-flow: column;

    & h2 {
        color: var(---colors-brand-signature);
    }
}

@media screen and (min-width: 640px) {
    .builder__grid {
        --number-of-items-on-row: 2;
    }
}

@media screen and (min-width: 1260px) {
    .builder__grid {
        --number-of-items-on-row: 4;
    }
}


