.order-underpage {
    padding-top: 130px;
}

.order-underpage__content {
    background-color: white;
    border-radius: 1rem;

    max-width: 1230px;
    margin: 3rem auto 1.5rem;
    box-shadow: 4px 13px 31px 0px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.order-underpage__content > div {
    padding: 10px 20px;
}

.order-underpage__content section h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.order-underpage__content section {
    padding: 2rem 0;
}

.order-underpage__content section:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);

}

.order-underpage__content > div:first-of-type {
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.payment-dialog {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1rem);
    border: none;
    position: fixed;
    display: flex;
    overflow: auto;
    padding: 2rem;
}

.payment-dialog__content {
    max-width: 350px;
    width: 100%;
    margin: auto;
}

.payment-dialog__content-inner {
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
}

.payment-dialog__logo {
    width: 6rem;
    height: auto;
    display: block;
    margin: 1.5rem auto;
}

.payment-dialog__close-link {
    margin-top: 1rem;
    text-align: center;
    color: white;
    opacity: .7;
    display: block;
}

.payment-dialog__close-link:hover {
    text-decoration: underline;
    color: white;
    opacity: 1;
}