<div class="footer-newsletter">
  {# <form action="{{ url_for('newsletter/set') }}" method="POST"> #}
  <form action="" method="POST">
    <div class="footer-newsletter-content">
    <h2>Sleva 10%<small>na první objednávku</small></h2>
      <div class="newsletter-input">
        <input type="text" name="email" placeholder="Váš email" class="form-control">
        <button type="submit" class="btn btn-primary">Chci slevu</button>
      </div>
    </div>
  </form>
</div>