<div class="footer-newsletter">
  {% if success is not same as(null) %}
    <div class="footer-newsletter-content">
      <h2 class="text-center">
        {% if success %}
          Byli jste úspěšně přihlášeni k newsletteru. <br/> Děkujeme!
        {% else %}
          Stala se neočekávaná chyba. <br/> Zkuste to prosím znovu za chvíli.
        {% endif %}
      </h2>
    </div>
  {% else %}
    <form action="{{ url_for('newsletterSubscribe') }}" method="POST" hx-post="{{ url_for('newsletterSubscribe') }}" hx-target="this">
      <div class="footer-newsletter-content">
        <h2>Sleva 10%<small>na první objednávku</small></h2>
        <div class="newsletter-input">
          <input type="email" name="email" placeholder="Váš email" class="form-control">
          <button type="submit" class="btn btn-primary">Chci slevu</button>
        </div>
      </div>
    </form>
  {% endif %}
</div>