 <div class="newsletter-around" id="nl-wrapper" style='display:none' onClick="hideNow(event)">
     <div class="newsletter-content">
         {# <form action="{{ url_for('newsletter/set') }}" method="POST"> #}
         <form action="" method="POST">
             <h2>Sleva 10%<small>na první objednávku</small></h2>
             <p>Přihlašte se k odběru a užijte si slevu</p>
             <div class="newsletter-input"><input type="text" name="email" placeholder="Váš email"
                     class="form-control"><button type="submit" class="btn btn-primary">Chci slevu</button></div>
             <span onClick="PopUp('hide')">Děkuji, nechci</span>
         </form>
     </div>
 </div>
