{% if cart.cards|length > 0 %}
    <h3>{{ "Přehled objednávky - karty"|t }}</h3>

    <div class="full-order cart-overview__items">
        {% for itemId, item in cart.cards %}
            {% set size = cardSizes[item.size] %}
            {{ include("@modules:Adcards/components/small-card.twig", {
                "card": item,
                "size": size|merge({ material: cardMaterials[size.material] }),
                "index": loop.index0
            }) }}
        {% endfor %}
    </div>
{% endif %}