{% if extras|length > 0 %}
    <div class="w100 extras">
        <h3>{{ "Přidejte si k objednávce"|t }}</h3>

        {% for item in extras %}
            {{ include("@modules:Adcards/components/small-product.twig", {
                orderedProduct: {
                    product: item
                },
                asExtra: true
            }) }}
        {% endfor %}
    </div>
{% endif %}