{% extends '@modules:Adcards/layouts/email/layout.twig' %}

{% block content %}
  <p>Dobrý den,</p>
  <p>na stránce adcards.cz byl odeslán kontaktní formulář s těmito údaji:</p>

  <ul>
    <li>Jméno: {{name}}</li>
    <li>Email: {{email}}</li>
    <li>Zpráva: {{message}}</li>
  </ul>

  <p><b>S pozdravem, <br/> Váš adcards.cz<b/></p>
{% endblock %}