{% extends '@modules:Adcards/layouts/email/layout.twig' %}

{% block content %}
  <p>Dobrý den {{name}},</p>
  <p>děkujeme za Vaši zprávu na adcards.cz! Již brzo Vás budeme kontaktovat zpět.</p>

  <p><b>S pozdravem, <br/> Váš adcards.cz<b/></p>
{% endblock %}