<div class="material">
    <h2>Vyberte materiál</h2>
    <div class="material-content">
        <div class="col-12 col-lg-6 col-md-6 col-sm-6 col-xl-6 material-box">
            <img src="images/adcards_stena.png">
            <h2>Karta na zeď</h2>
            <p>Tuto kartu vyrobenou z odolného PVC lze zavěsit pomocí speciálního háčku nebo přilepit na zeď.</p>
            <button>Přejit k výběru designu</button>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-6 col-xl-6 material-box">
            <img src="images/adcards_stul.png">
            <h2>Karta na stůl</h2>
            <p>Tuto skleněnou kartu lze vystavit na různých místech ve speciálním stojanu, který obdržíš společně s
                kartou.</p>
            <button>Přejit k výběru designu</button>
        </div>
    </div>
</div>
