{% extends '@modules:Adcards/layouts/site-layout/site-layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/pages/cart.css">
    <link rel="stylesheet" href="/css/pages/order-underpage.css">
{% endblock %}

{% block content %}
    <div class="cart-around" id="app-cart">
        <div class="cart-inner">
            <div class="headline">
                <h1>{{ 'Dokončení objednávky'|t }}</h1>
            </div>

            {% if cartSize == 0 %}
                <h1 class="no-background">{{ 'Váš košík je prázdný...'|t }}</h1>
            {% else %}
                {{ include("@modules:Adcards/partials/pages/cart/left-side/left-side.twig") }}
                {{ include("@modules:Adcards/partials/pages/cart/right-side/right-side.twig") }}
            {% endif %}
        </div>
    </div>
{% endblock %}