<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <main style="padding: 30px 20px;color: #16161a;background: #fff;font-size: 14px;line-height: 20px;">
      <div style="display: block;width:460px; max-width: 100%; margin: auto;">
        <img style="width: 70px;margin: 0 auto 40px;display: block;" width="70px" height="80px" height src="{{ getConfig().app.url }}/images/logo_AD.png">
        <div style="display: block; width: 100%; padding: 10px 20px; font-family: inherit; box-sizing: border-box; background: rgb(255, 255, 255); border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 30px 0px;">
          {{ block('content') }}
        </div>
      </div>
    </main>
  </body>
</html>
